<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/categories/delete/<%= locals.id %>" method="post">
        <h1>Are you sure u wanna delete <%= locals.name %></h1>
        <button>Yes</button>
    </form>
    <button onclick="categoriesList()">No</button>

</body>
</html>
<script>
    function categoriesList() {
        window.location.href = "/categories/";
    }
</script>