<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Category</h1>
    <form action="/categories/create/" method="post">
        <label for="catname">Category:</label>
        <input type="text" name="categoryName" id="catname" required>
        
        <label for="catdesc">Description:</label>
        <input type="text" name="categoryDesc" id="catdesc" required>

        <label for="catURL">Image URL</label>
        <input type="text" name="categoryImgURL" id="catURL">

        <button>Add Category</button>
    </form>
</body>
</html>