<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <script src="/javascripts/categoryscript.js" defer></script>
</head>
<body>
    <ul class="catList">
        <% locals.allCategories.forEach( category => { %>
            <li>
                 <a href= '/categories/<%= category._id %>' ><%= category %></a>
                 <button class="editBtn" id="<%=category._id %>">Edit</button>
                <button data-id="<%= category._id %>" id="#">Delete</button> 
            </li> 
        <% } ); %> 
    </ul>
    <button class="Addbtn">Add Category</button>
</body>
</html>