
h1 {
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    margin: 0 auto;
    font-family: monospace;
}

label {
    font-size: 1.4rem;
    margin-bottom: -10px;
}